{
  "resources": [
    {
      "resource": "/api/premium-data",
      "type": "http",
      "middlewares": [
        "auth",
        "x402"
      ],
      "auth": {
        "type": "bearer",
        "token": "1234567890"
      },
      "x402": {
        "x402Version": 1,
        "scheme": "exact",
        "network": "sepolia",
        "resource": "/premium-data",
        "description": "Access to premium market data",
        "maxAmountRequired": "100000",
        "payTo": "0x93866dBB587db8b9f2C36570Ae083E3F9814e508",
        "assetType": "ERC20",
        "asset": "0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238",
        "tokenName": "AgentNetworkCoin",
        "tokenVersion": "1"
      },
      "targetUrl": "https://api.example.com/premium-data"
    },
    {
      "resource": "/api/weather-data",
      "type": "http",
      "middlewares": [
        "x402"
      ],
      "x402": {
        "x402Version": 1,
        "scheme": "exact",
        "network": "sepolia",
        "resource": "/weather-data",
        "description": "Access to weather data API",
        "maxAmountRequired": "50000",
        "payTo": "0x93866dBB587db8b9f2C36570Ae083E3F9814e508",
        "assetType": "ERC20",
        "asset": "0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238",
        "tokenName": "AgentNetworkCoin",
        "tokenVersion": "1"
      },
      "targetUrl": "https://api.example.com/weather-data"
    }
  ]
}
